extends ../_layout
include ../_mixins/competitions-mixin

block content
    .main
        .container(style="margin-top: 50px;")
            .section.text-center.section-landing
                img.categories-img(src='/static/imgs/categories-images/'+result.category.image)
                h1 #{result.category.title}
                p #{result.category.description}
                +competitions-list(result.category.competitions)
