extends ../_layout
include ../_mixins/categories-mixin

block content
    .main
        .container
            .section.text-center.section-landing
                +categories-list(result.categories)


