/*brand*/

.item img {
    margin-left: 25%;
    width: 50%;
    height: 50%;
}

.glyphicon-search {
    margin-top: 10px;
    background: none;
    border: none;
}

.wrapper {
    margin-top: -15px;
}

.navbar-inverse {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0px 2px 0px 0px grey;
}

.nopadding {
    padding: 0 !important;
    margin: 0 !important;
}

.center-heading {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

.categories-img {
    height: 90px;
    width: auto;
}