<!DOCTYPE html>
html
    head
        title Conquer Bulgaria
        block styles
    body
        header.nav
        .container
            .navbar-header
                a.navbar-brand(href="/") Conquer Bulgaria
            .navbar-collapse.collapse
                ul.nav.navbar-nav
                    li
                        a(href="/") Home
                    li 
                        a(href="/forum") Forum
                    if (currentUser)
                        li
                            a(href="/competitions") List Competitions
                        li
                            a(href="/competitions/create") Add Competitions
                        li
                            a(href="/profile") #{currentUser.username}
                        li
                            a(href="/logout") Logout
                    if (!currentUser)
                        li
                            a(href="/register") Register
                        li
                            a(href="/login") Login

        .container

            block content

        footer
            p.text-center
                | &copy; Telerik Academy 2014
        
        block scripts