doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0', name='viewport')

    title ConquerBulagria

    link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')
    link(rel='stylesheet', type='text/css', href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css')
    
    link(href='/static/bower_components/bootstrap/dist/css/bootstrap.css', rel='stylesheet')
    link(href='/static/bower_components/material-kit/assets/css/bootstrap.min.css', rel='stylesheet')
    link(href='/static/bower_components/material-kit/assets/css/material-kit.css', rel='stylesheet')
    link(href='/static/css/home.css', rel='stylesheet')
    block styles

  body.landing-page
    .navbar.navbar-info.navbar-fixed-top
      .container
        .navbar-header
            button.navbar-toggle(type='button', data-toggle='collapse', data-target='#navbar')
              span.sr-only Toggle navigation
              span.icon-bar
              span.icon-bar
              span.icon-bar
            a(href='/')
              img.navbar-brand(src='http://www.cbpercussion.com/images/cblogo.png')
              .riple-container
        .navbar-collapse.collapse.navbar-inverse-collapse(id="navbar")
          ul.nav.navbar-nav
            li
              a.dropdown-toggle(href='/categories') Competition Categories
            li
              a.dropdown-toggle(href='/competitions') All Competitions
            li
              a.dropdown-toggle(href='/users') Users          
            li
              a.dropdown-toggle(href='/forum') Forum
            if result.user.isOrganizator
              li
                a.dropdown-toggle(href='/competitions/create') Create competition
            if result.user.isAdmin
              li
                a.dropdown-toggle(href='/categories/create') Create category

          
          if result.user
            ul.nav.navbar-nav.navbar-right
               li.dropdown
                  a.dropdown-toggle(href='#', data-toggle='dropdown', aria-expanded='false')
                    span#username #{result.user.username}
                    i.material-icons face
                    b.caret
                    .ripple-container
                  ul.dropdown-menu
                    li
                      a(href='/users/'+result.user.username) Profile
                        if result.user.isAdmin
                          li
                            a(href="/users/"+result.user.username) Admin
                    li
                      a(href='/auth/logout') Logout
              
          else
            ul.nav.navbar-nav.navbar-right
              li
                a.dropdown-toggle(href='/auth/login') Login
              li
                a.dropdown-toggle(href='/auth/register') Register
              
          form.navbar-form.navbar-right(action="/search" method="get")
            .form-group
              input.form-control.col-sm-8(type='text', placeholder='Search competitions' name='search')
            |  
            button.glyphicon.glyphicon-search
    block content

    footer.footer
      .container
        nav.pull-left
          ul
            li
              a(href='/home') Home
            li
              a(href='/categories') Categories
            li
              a(href='/users') Users
            li
              a(href='/forum') Forum
            li
              a.btn.btn-simple.btn-black.btn-just-icon(href='https://twitter.com/CreativeTim', target='_blank')
                i.fa.fa-twitter
            li
              a.btn.btn-simple.btn-black.btn-just-icon(href='https://www.facebook.com/CreativeTim', target='_blank')
                i.fa.fa-facebook-square
            li
              a.btn.btn-simple.btn-black.btn-just-icon(href='https://www.instagram.com/CreativeTimOfficial', target='_blank')
                i.fa.fa-instagram
        .copyright.pull-right
          | &copy; 2016, Telerik Academy
          i.fa.fa-heart.heart
          |  by Team Undefined42

    script(src='/static/bower_components/material-kit/assets/js/jquery.min.js', type='text/javascript')
    script(src='/static/bower_components/material-kit/assets/js/bootstrap.min.js', type='text/javascript')
    script(src='/static/bower_components/material-kit/assets/js/material.min.js')
    script(src='/static/bower_components/material-kit/assets/js/nouislider.min.js', type='text/javascript')
    script(src='/static/bower_components/material-kit/assets/js/bootstrap-datepicker.js', type='text/javascript')
    script(src='/static/bower_components/material-kit/assets/js/material-kit.js', type='text/javascript')
    script(src='/static/js/script.js', type='text/javascript')
    script(src="/static/js/utils/requester.js")
    script(src="/static/js/utils/notificator.js")
    script(src="/static/js/profile/login-ajax.js")

    block scripts
