extends competition.pug

block styles
    link(rel="stylesheet" type="text/css" href="/static/bower_components/toastr/toastr.css")

block joining
    if result.hasJoined
        button(id="leave") Leave
        button.hidden(id="join") Join
    else
        button.hidden(id="leave") Leave
        button(id="join") Join
    //- leave

block scripts
    script(src="/static/bower_components/jquery/dist/jquery.min.js")
    script(src="/static/bower_components/toastr/toastr.js")
    script(src="/static/js/join-competition.js")
    