extends competition.pug

block styles
    link(rel="stylesheet" type="text/css" href="/static/bower_components/toastr/toastr.css")

block like

    div(id="competition-info" data-id=result.competition._id)
        h3.competition
            a(href="/competitions/"+ result.competition._id)= result.competition.title
        p.likes Likes: 
            span(id='competition-likes-count') #{result.competition.likes}
            if result.competition.usersLiked.indexOf(result.user.username) < 0
                button.btn.btn-success.like-competition Like
            else
                button.btn.btn-danger.dislike-competition Dislike    

block joining
    if result.competition.hasJoined
        button.btn.btn-danger(id="leave") Leave
        button.hidden.btn.btn-success(id="join") Join
    else
        button.hidden.btn.btn-danger(id="leave") Leave
        button.btn.btn-success(id="join") Join

block additional-scripts
    script(src="/static/utils/requester.js")
    script(src="/static/js/add-points.js")
    script(src="/static/js/join-competition.js")
    script(src="/static/js/like-dislike-competition.js")
    script(src="/static/js/add-points.js")
    