extends _layout

block content
    .section.section-full-screen.section-signup(style="background: blur;")
        .container
            .row
                .col-md-8.col-md-offset-2
                    .card.card-signup
                        form.form(method="post")
                            .header.header-info.text-center(style="height: 50%;")
                                h2 Create new competition
                                .social-line
                            .input-group
                                span.input-group-addon
                                    i.material-icons event_note
                                .form-group.is-empty.has-info
                                    input.form-control(type="text" id="competitionName" placeholder="Competition name" name="competitionName" class="form-control")
                            .input-group
                                span.input-group-addon
                                    i.material-icons public
                                .form-group.is-empty.has-info
                                    input.form-control(type="text" id="place" placeholder="Place" name="place" class="form-control")
                            .input-group
                                span.input-group-addon
                                    i.material-icons control_point
                                .form-group.is-empty.has-info
                                    input.form-control(type="text" id="points" placeholder="Points" name="points" class="form-control")
                            .input-group
                                span.input-group-addon
                                    i.material-icons date_range
                                .form-group.is-empty.has-info
                                    input.form-control.datepicker(type="text" id="tb-datepicker" value="Start date" name="datepicker" class="form-control")
                            .input-group
                                span.input-group-addon
                                    i.material-icons date_range
                                .form-group.is-empty.has-info
                                    input.form-control.datepicker(type="text" id="tb-datepicker" value="End date" name="datepicker" class="form-control")
                            .input-group
                                span.input-group-addon 
                                    i.material-icons assignment
                                .form-group.is-empty.has-info
                                   select(id="category" class="form-control" name="category")
                                     option(value="") Choose Category
                                     each category in result
                                        option(value= category) #{category}
                            .input-group
                                span.input-group-addon
                                    i.material-icons opacity
                                .form-group.is-empty.has-info
                                    input.form-control(type="text" id="level" placeholder="Level" name="level" class="form-control")
                            .input-group
                                span.input-group-addon
                                    i.material-icons explore
                                .form-group.is-empty.has-info
                                    input.form-control(type="text" id="longitude" placeholder="Longitude" name="longitude" class="form-control")
                            .input-group
                                span.input-group-addon
                                    i.material-icons explore
                                .form-group.is-empty.has-info
                                    input.form-control(type="text" id="latitude" placeholder="Latitude" name="latitude" class="form-control")
                            div.container(id="map" style="height:300px;width:300px")
                            .footer.text-center
                                input(type="submit" id="create" class="btn btn-lg btn-info" value="Create")

block scripts 
    script(src="/static/bower_components/toastr/toastr.js")
    script(src="/static/js/create-competition.js") 
    script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC0PmHg9An9AdDbib9-jYefjSKSnapzFLQ&callback=initMap")
                            
                            

