extends _layout
block content
    h2 Upcomming
    ul
        each commingCompetition in result.upcommingCompetition
            li 
                a(href="/competitions/" + commingCompetition._id) #{commingCompetition.place}
    h2 MostPopular
    ul
        each topCompetition in result.mostPopularCompetition
            li
                a(href="/competitions/" + topCompetition._id) #{topCompetition.place}
    h2 Top Users
    table
        tr
            th User
            th Points
        each topUser in result.topUsers
            tr 
                td
                    a(href="/users/" + topUser.username) #{topUser.username}
                td #{topUser.progress.totalPoints}