extends _layout

block content
    .section.section-full-screen.section-signup
        .container
            .row
                .col-md-4.col-md-offset-4
                    .card.card-signup
                        form.form(method="post")
                            .header.header-info.text-center(style="height: 50%;")
                                h4 Sign in
                                .social-line
                                  a.btn.btn-simple.btn-just-icon(href="/auth/facebook")
                                    i.fa.fa-facebook-square
                            .input-group
                                span.input-group-addon
                                    i.material-icons face
                                input.form-control(type="text" id="tb-username" placeholder="Username" name="username" class="form-control")
                            .input-group
                                span.input-group-addon
                                    i.material-icons lock_outline
                                input.form-control(type="password" id="tb-password" placeholder="Password" name="password" class="form-control")
                            .footer.text-center
                                input(id="btn-login" type="submit" value="Login" class="btn btn-lg btn-info")

block scripts
    script(src="/static/js/login.js")