extends user-profile

block edit
    .row-md-2.row-md-offset-5
        .col-md-2.col-md-offset-12
            a(href="/users/" + result.userForProfile.username + "/edit")        
                .btn.btn-info
                    i.material-icons border_color 

block joinedCompetitions
    .col-md-1.dropdown
      a.btn.btn-simple.btn-info.dropdown-toggle(href='#', data-toggle='dropdown')
        | Joined Competitions
        b.caret
      ul.dropdown-menu.btn-info
        each competition in result.userForProfile.joinedCompetitions
            li
            a(href="/competitions/"+ competition._id) #{competition.name}
            span #{competition.place}