extends _layout
include ./_mixins/competitions-mixin

block content
    .main
        .container
            if result.searchName
                hgroup.mb20
                    h2 Search results for: #{result.searchName}
            else  
                hgroup.mb20
                    h2 All competitions
            +competitions-list(result.competitions)
       

            

