doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title Error page
    //- link(href='/static/bower_components/bootstrap/dist/css/bootstrap.css', rel='stylesheet')    
    //- link(href='/static/bower_components/material-kit/assets/css/bootstrap.min.css', rel='stylesheet')
    //- link(href='/static/bower_components/material-kit/assets/css/material-kit.css', rel='stylesheet')
    link(href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css', rel='stylesheet')
    link(href='/static/css/styles.min.css', rel='stylesheet')

  body.error-body
    .container
      .row
        .span12
          .hero-unit.center
            h1(style='color:white')
              | Page Not Found 
              small
                font(face='Tahoma', color='red') Error 404
            br
            p
              | The page you requested could not be found, either contact your webmaster or try again. Use your browsers 
              b Back
              |  button to navigate to the page you have prevously come from
            p
              b Or you could just press this neat little button:
            a.btn.btn-large.btn-info(href='/home')
              i.icon-home.icon-white
              |  Take Me Home
              block content
