extends ../_layout
include ../_mixins/competitions-mixin

block content
    .section.section-full-screen.section-signup(style="background: blur;")
            .container
                .row
                    .col-md-12.col-md-offset-0
                        .card.card-signup
                            form.form(method="post")
                                .header.header-info.text-center(style="height: 50%;")
                                    h2 All competitions
                                    .social-line
                                +competitions-list(result.competitions)
                                if result.params
                                    ul.pagination
                                        - for(let i = 1; i <= result.params.pagesCount; i+=1 )
                                            li
                                                if result.params.page === i
                                                    a.disabled(href=`/competitions?page=${i}`)
                                                        = i
                                                else
                                                    a(href=`/competitions?page=${i}`)
                                                        = i                                                     
